
body{
    background: linear-gradient(rgba(106, 4, 207, 0.8), rgba(14, 10, 15, 0.966)), url(/download.jpg);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


#title{
    flex-direction: column;
    line-height: 10px;   
}


li{
    display: inline-block;
    margin: 20px;
    
}


a{
    color: white;
}

a:hover{
    color: aqua;
    transition: 0.3s all;
}

#inscreva-se-btn{
    border: 1px solid aqua;
    padding: 10px;
    border-radius: 15px;
}

#inscreva-se-btn:hover{
    background-color: aqua;
    color: rgb(12, 11, 11);
}

h1{
    font-weight: 200;
    font-family: poppinsmedium;
    
}


main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;   
    position: center;
}

 h2{
     font-size: 56px;
     line-height: 10px;
     font-family: poppinsmedium;
 }


 span{
     color: rgb(132, 14, 201);
 }


 p{
     line-height:20px;
     max-width: 500px;
     font-family: poppinsligth;
     font-size: 18px;

 }


 img{
    position:absolute;
    right: 0;  
    width: 580px;
   bottom: 100px;
  
 }


 form{
    display: flex;
    flex-direction: column;
    width: 70%;
   
}

form [type="submit"]{
    height: 50px;
    width: 50%;
    background-color: aqua;
    color: rgb(2, 1, 1);
    font-weight: bold;
}
form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
     }


 html{
        width: 100wm;
        height: 100vh;
         }